*{
  margin:0;
  padding:0;
  font-family: "Pontano Sans", sans-serif;
}

.main_box{
 background-image: url("photo\ \(1\).jpg");
 height: 100vh;
 background-size: cover;
}

.btn_one i{
  color: white;
  font-size:25px ;
  font-weight: 700;
  position: absolute;
  left:16px;
  line-height:60px;
  cursor: pointer;
  transition:all 0.3s linear;
}

.sidebar_menu{
   position: fixed;
   left:-350px;
   height: 100vh;
   width:300px;
   background-color: rgba(255,255,255,0.1);
   box-shadow: 0 0 8px rgba(255 ,255 ,255 , 0.8);
   transition: 0.3s linear;
}

.sidebar_menu .logo{
   position:absolute;
   width:100%;
   line-height:60px ;
    box-shadow: 0 0 4px rgba(255 ,255 ,255 , 0.7);
   box-shadow: 0px 2px 4px rgba(255,255,255,0.5);
   height:60px;
}

.sidebar_menu .logo a{
    position:absolute;
    left:60px;
    color:white;
    font-size: 20px;
    text-decoration: none;
    /* box-shadow: 0 2px 3px 2px; */

}
.sidebar_menu .menu{
   position: absolute;
   width:100%;
   top:80px;
}

.sidebar_menu .btn_two i{
 color: gray;
  font-size:25px ;
  font-weight: 700;
  position: absolute;
  left:275px;
  line-height:60px;
  opacity:0;
  cursor: pointer;
  transition:all 0.3s linear;
}

.sidebar_menu .menu li{
   margin-top:9px;
   padding:13px 20px;
}

.sidebar_menu .menu i,a{
  color:white;
  text-decoration: none;
  font-size: 18px;
}

.sidebar_menu .menu i{
  padding-right:12px ;
}

.sidebar_menu .social_media{
  color:white;
  opacity: 0.5;
  position: absolute;
  left:25%;
  bottom:50px;
}

.sidebar_menu .social_media i{
   color:white;
   opacity:0.5;
   padding:0 5px;
}

#check{
 display: none;
}

.sidebar_menu .menu li:hover{
  box-shadow: 0 0 4px rgba(255 ,255 ,255 , 0.7);
}

.btn_one i:hover{
  font-size:27px ;
}

.btn_two i:hover{
  font-size:26px ;
}

.sidebar_menu .social_media i:hover{
  opacity:1;
  transform:scale(1.1);
}

#check:checked ~ .sidebar_menu {
 left:0;
}

#check:checked~ .btn_one i{
 opacity: 0;
}

#check:checked~ .sidebar_menu .btn_two i {
   opacity: 1;
}
